/* Sector Map information for map.php */
#clusterMapDiv {
	position:fixed;
	text-align:right;
	right:0px;
	top:0px;
	z-index:0;
}
#sectorMapDiv {
	position:relative;
	width:auto;
	z-index:10;
}
#mapSelection {
	position:relative;
}
#sectorTableMap {
	border-width:1px;
	border-collapse:collapse;
	border-spacing:0px;
}
#sectorTableMap th {
	border-width:1px;
	border-style:solid;
	border-color:#293939;
}
#sectorTableMap td.grid {
	height:32px;
	width:32px;
	padding:0px;
	border-width:1px;
	border-style:solid;
	border-color:#293939;
}
#sectorTableMap td.nogrid {
	height:32px;
	width:32px;
	padding:0px;
}

#sectorTableMap img {
	margin:0px;
	padding:0px;
	border:0px;
	height:32px;
}	
#sectorTableMap .bg {
	z-index:10;
}
#sectorTableMap .fg {
	margin-top:-32px;
	z-index:20;
}
#sectorTableMap .npc {
	margin-top:-32px;
	z-index:30;
}
#sectorTableMap .npcSmall {
	margin-top:-15px;
	height:15px;
	z-index:30;
}
#sectorTableMap .npcCloak {
	margin-top:-32px;
	z-index:30;
	opacity:0.7;
	filter:alpha(opacity=70);	
}

